@model IEnumerable<TheDogsCorner.DAL.Produkt>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card mb-4">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="../Admin/Dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Produkter</li>
    </ol>
    <div class="card-header">

        <div class="col-md-12">
            <div class="nav-menus">

                <ul class="nav nav-pills">
                    <li class="active"><a style="border-radius:initial;" href="../Admin/ProductAdd" class="btn btn-info fa-pull-right">Lägg till Produkt</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>ProduktNamn</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>ProduktNamn</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@(Model.ToList().IndexOf(item)+1)</td>
                            <td>@item.ProduktNamn</td>
                            <td>

                                @Html.ActionLink("Redigera", "ProductEdit", new { productId = item.ProduktId })
                            </td>

                        </tr>

                    }

                </tbody>
            </table>
        </div>

    </div>
</div>
