@{
    ViewBag.Title = "Om oss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<p>The Dog's Corner är en e-handel som säljer kläder, godis, bäddar,</p>
<p>leksaker, foder, koppel, selar, halsband och mycket mer till hundar.</p>